{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    Company: <a href="http://www.wit.ie">Waterford I.T.</a> 
  </p>
  <p>
   Author: Dylan French Carroll
  </p>
  <p>
    Mobile: 085 123 4567
  </p>
  <p>
    Email: Dylan.French.Carroll@Gmail.com
  </p>
  <p>
    Address: 123 Fake Street, Carlow, Irelan R96 RX456
  </p>
</section>