{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Bookmarks
  </h1>
  <p>
    A small app to let you compose bookmarks.
  </p>
  <p>
    <img src="https://cdn.glitch.com/528075db-4a2c-4efc-8e2b-37d727991aac%2Fbook.jpg?1520346557382" alt="Book">

  </p>
</section>